// var fd = {
//     formatDate: function(value) {
//         Date.prototype.toLocaleString = function() {
//             function addZero(num) {
//                 if (num < 10)
//                     return "0" + num;
//                 return num;
//             }
//             return this.getFullYear() + "/" + addZero(this.getMonth() + 1) + "/" + addZero(this.getDate());
//         };
//         var date = new Date(value);
//         return date.toLocaleString();
//     }
// }
// module.exports = {
//     formatDate: fd.formatDate
// }